<div class="container__big-card">
<div class="big-card__pohto">
    <img src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-instalacao_38247.png"
     alt=""
     height="200px"
     
     >
</div>
<div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
</div>
<div class="big-card__discription">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel nunc lacus. Praesent a nunc lacus. Mauris cursus gravida convallis. Nunc ut bibendum nisi, et condimentum augue. Vestibulum luctus risus arcu. Nunc dapibus pharetra ante eu imperdiet. Mauris aliquet vel tortor vel imperdiet. Curabitur aliquet, quam quis elementum auctor, sem ante dapibus justo, ut venenatis augue dui et mi. Donec molestie ipsum eu vehicula mollis. Integer ac maximus enim. Vivamus consequat dignissim mi, at maximus orci elementum at. Ut non neque magna. Pellentesque sollicitudin, orci quis malesuada dapibus, nunc lorem tempor neque, ut consequat odio turpis eget nunc.</p>
</div>
</div>